$color-primary-dark: hsl(300, 43%, 22%);
$color-primary-light: hsl(333, 80%, 67%);

$color-neutral-dark: hsl(303, 10%, 53%);
$color-neutral-light: hsl(300, 24%, 96%);
$color-White: hsl(0, 0%, 100%);

$fs-default: 0.9375rem;

$ff-default: "Spartan", sans-serif;

$fw-default: 400;
$fw-bold: 500;
$fw-bolder: 700;

$line-height: 1.6;
